body {
  color: red;
  background-color: white;
  font-family: 'PT Sans', sans-serif;
  text-align: center;
}

.navbar {
  background-color: #00332d;
  letter-spacing: 3px;
  margin-bottom: 0 !important;
}

.nav-link {
  color: #ffffff;
  font-size: 24px;
  font-family: 'PT Sans', sans-serif;
}

.nav-link:hover {
  color: #ffffff;
  background-color: #009987 !important;
  border-radius: 50%;
}

.header {
  background-color: #004d44;
  color: #ffffff;
  font-family: 'PT Sans', sans-serif;
}

p {
  font-size: 20px;
  font-family: 'PT Sans', sans-serif;
}

img {
  float: center;
  border-radius: 5%;
  margin-right: auto;
  margin-left: auto;
}

#portfolio {
  background-color: #ffffff;
  color: black;
}

#contact {
  background-color: #004d44;
  color: white;
  font-family: 'Miriam Libre', sans-serif;
}

.footer {
  background-color: black;
  color: white;
  text-align: center;
}

p#footer {
  font-size: 14px;
}

.form {
  margin-right: 20%;
  margin-left: 20%;
}

.container-fluid {
  padding-top: 50px;
  padding-bottom: 50px;
}

#java,
#php,
#js,
#mobile,
#python,
#multiple {
  background-color: #f2f2f2;
  border-radius: 10px;
  margin-left: 3%;
  margin-top: 2%;
  margin-right: 1px;
  margin-bottom: 1%;
  padding-bottom: 1%;
  max-width: 30%;
}

@media screen and (max-width: 600px) {

  #java,
  #php,
  #js,
  #mobile,
  #python,
  #multiple {
    margin-top: 2%;
    margin-bottom: 4%;
    padding-bottom: 2%;
    margin-left: -1%;
    max-width: 100%;
  }

  .nav-link {
    font-size: 18px;
  }

  #hamburger {
    display: inline-block;
    position: absolute;
    top: -30%;
    right: -50%;
  }

}